head
  title Books
  link(href='/stylesheets/style.css' rel='stylesheet')
h1 Books
.search-container
  form(action='/books/search', method='GET')
    input(type='text' placeholder='Search...' name='search')
    a.button(type='submit' class='search') Submit
table
  thead
    tr
      th Title
      th Author
      th Genre
      th Year
  tbody
    each book in books
      tr
        td
          a(href=`/books/${book.id}`)=book.title
        td=book.author
        td=book.genre
        td=book.year 
p
  - var buttonCount = Math.ceil(books.length / 10);
  ul
    - for (let i=1; i<=buttonCount; i++) 
      li
        button(type='button')=i
  a.button(href='books/new') Create New Book