extends layout 

block content
  .search-container
    p(style='padding-top:9px')
      a.button(href='books/new') Add Book
    form(action=`/books/search`, method='GET')
      p(style='float:left; padding-left: 70px')
        input(type='text' name='query')
      p(style='float:left;')
        input(type='submit' class='search' value='Search')
        a.button(href='/' class='cancel') X

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)=book.title
          td=book.author
          td=book.genre
          td=book.year
  //- 
    p(class='pagination')
      - var buttonCount = Math.ceil(allBooks.length / 10);
      form(action=`/books/pages`, method='GET')
      ul
        - for (let i=1; i<=buttonCount; i++) 
          li(style='float:left;')
            a.button(type='button' href=`/page_${i}`)=i